<header>
  <div class="container">
    <a routerLink="/" class="logo" href="">Food Mine!</a>
    <nav>
      <ul>
        <li><a routerLink="/login" href="">Login</a></li>
        <li class="menu-container">
          <a routerLink="/dashboard" href="">John</a>
          <div class="menu">
            <a routerLink="/profile" href="">Profile</a>
            <a routerLink="/orders" href="">Orders</a>
            <a href="">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page" href="">Cart <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
